# Set to "true" to run the engine locally instead of GitHub Actions
LOCAL_MODE=false

# GitHub Actions integration
GH_TOKEN=your_github_fine_grained_token
GH_OWNER=your_github_username
GH_REPO=your_repo_name
GH_WORKFLOW_FILE=scan.yml
GH_WORKFLOW_REF=main
